body {
    background-color: #CDF5FD;
}

img {
    height: 200px;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: white;
    height: 0px;
    width: 3%;
}

